@import "tailwindcss";

@theme {
    /* Primary Colors */
    --color-primary-100: #d2d2d2;
    --color-primary-200: #a4a4a5;
    --color-primary-300: #777778;
    --color-primary-400: #49494b;
    --color-primary-500: #1c1c1e;
    --color-primary-600: #161618;
    --color-primary-700: #111112;
    --color-primary-800: #0b0b0c;
    --color-primary-900: #060606;

    /* Secondary Colors */
    --color-secondary-100: #f0dcff;
    --color-secondary-200: #e1baff;
    --color-secondary-300: #d297ff;
    --color-secondary-400: #c375ff;
    --color-secondary-500: #b452ff;
    --color-secondary-600: #9042cc;
    --color-secondary-700: #6c3199;
    --color-secondary-800: #482166;
    --color-secondary-900: #241033;

    /* Font Color */
    --color-font: #bebfc2;

    /* fonts imported */
    --font-primary: "Press Start 2P", 'serif';
}

/* default colors */

html {
    @apply bg-primary-500 text-font;
}